import(Rcpp)
import(maps)
import(mapproj)
import(actuar)
import(fields)
import(fitdistrplus)
import(geoR)
import(gstat)
import(MASS)
import(moments)
import(poweRlaw)
import(RFOC)
import(spatstat)
import(ADGofTest)
import(reshape)
import(sp)
